<?xml version="1.0" encoding="UTF-8"?>
<config>
    <appId>10</appId>
    <appURLPath>http://maninactionscript.com/Projects/app_builder/upload/app/Portfolio%20</appURLPath>
    <appXMLPath>http://maninactionscript.com/Projects/app_builder/upload/app/Portfolio%20/xml/Portfolio.xml</appXMLPath>
</config>


